@page
@model IndexModel
@{ this.ViewBag.Title = "Vítejte"; }
<h2>@this.ViewBag.Title</h2>
<table class="form">
    <tbody>
        <tr>
            <th>Počet webů:</th>
            <td>@Model.NumberOfSites</td>
        </tr>
        <tr>
            <th>Počet uživatelů:</th>
            <td>@Model.NumberOfUsers</td>
        </tr>
        <tr>
            <th>Prostředí:</th>
            <td>@Model.EnvironmentName</td>
        </tr>
        <tr>
            <th>Server:</th>
            <td>@Environment.MachineName (@(Environment.Is64BitProcess ? "64-bit" : "32-bit") process on @(Environment.Is64BitOperatingSystem ? "x64" : "x86") system)</td>
        </tr>
        <tr>
            <th>Operační systém:</th>
            <td>@Environment.OSVersion.VersionString</td>
        </tr>
    </tbody>
</table>